<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Placement Portal</title>
</head>
<body>
    <a href="/s/auth" >Login</a>
    <h2>Hello World!!</h2>
    <h1>Welcome to Student Placement Portal 2024</h1>
</body>
</html>